/*body {
	height:100%;
	background:#999;
	margin:0px;
}*/

/*.gametable {
	min-height:100%;
	margin:0px;
}

.card-pit {
	min-height:100%;
	margin:0px 0px -300px 0px ;
}*/

/*.card-pit:after {
	content:"";
	display:block;
}*/

.footer {
	/*height:auto;*/
	/*margin:0px;*/
	width:auto;
	/*height:250px;*/
	position:fixed;
	bottom:0;
	overflow-x:scroll;
	overflow-y:hidden;
	white-space:nowrap;

}

.footer-child {
	width:300%;
	/*height:250px;*/
	display:inline-block;
}

.small {
	width:116px;
}

