body {
	height:100%;
	background:#f5f5f5;
	margin:0px;
}

.gametable {
	min-height:100%;
	margin:0px;
}

.card-pit {
	min-height:100%;
	margin:0px 0px -300px 0px ;
}

.card-pit:after {
	content:"";
	display:block;
}

footer, .card-pit:after {
	height:250px;
	margin:0px;

}


.mainpageheader { 
	text-align: center;


}


.welcome {
	color: #0063B3;
	font-size: 100px;
}

.online {
	color: #18A849;
	font-size: 100px;
}

li {
	float: left;
}


@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:900);

@-webkit-keyframes wiggle {
0% {
  -webkit-transform:rotate(6deg);
}

50% {
  -webkit-transform:rotate(-6deg);
}
100% {
  -webkit-transform:rotate(6deg);
  }
}
.mainpagecardcss:hover {
  -webkit-animation: wiggle 1s infinite;


}

.mainpagecardcss {
	
	max-width: 70%;
}



.mainpageUnofont {

-ms-transform: rotate(-12deg); /* IE 9 */
 -webkit-transform: rotate(-12deg); /* Chrome, Safari, Opera */
 transform: rotate(-12deg);
 font:normal 60pt Arial;
 color:#FEDD6A;
 text-shadow: 0 1px 0 #FEDD6A,
 0 2px 0 #FEDD6A,
 0 3px 0 #FEDD6A,
 0 4px 0 #FEDD6A,
 0 5px 0 #FEDD6A,
 0 6px 1px rgba(255,215,0,.1),
 0 0 5px rgba(255,215,0,.1),
 0 1px 3px rgba(255,215,0,.3),
 0 3px 5px rgba(255,215,0,.2),
 0 5px 10px rgba(255,215,0,.25),
 0 10px 10px rgba(255,0,0,.85),
 0 20px 20px rgba(255,0,0,.75);

}

.icon {
	width: 106px;
	
}


